{% extends 'base.html' %}

{% block title %}Minilibrary{% endblock %}

{% block content %}
<div class="container">
    <h2>Añade reseña de {{ book.title }}</h2>
    <form action="{{ form.action_url }}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>

{% if last_book%}
    <p>Ultimo libro visitado: <a href="{% url 'book_detail' last_book.id %}">{{ last_book.title }}</a></p>
{% else %}
    <p>No has visitado ningún libro aún.</p>
{% endif %}

{% endblock %}